.about {
  padding: 50px;
  text-align: center;
  .content{
    padding: 50px;
    h2 {
      padding-bottom: 60px;
    }
    p {
      font-size: 1.6em;
      line-height: 1.5em;
      padding-bottom: 30px;
    }
  }
}
