.chief {
  max-width: 200px;
  display: block;
  margin: 0 auto 60px auto;
}

.boss-p {
  margin-bottom: 50px;
}

.contact-div {
  * {
    color: $offBlack;
  }
  i{
    font-size: 4em;
  }
  * {
    &:hover {
      font-weight: 600;
    }
  }
}


