#footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  * {
    padding: 6px;
    color: black;
    font-size: .9rem;
  }
  .fa-phone{
    margin-right: -8px;
  }
  .contactNumber{
  }
  .fa-facebook{
    margin: -3px -15px 0 0;
  }
}