#home {
  display: inline-block;
  border: 2px solid $primaryColor;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.5rem;
  margin-top: 20px;
}

.photo-thumb{
  width: 30%;
  height:300px;
  float: left;
  margin: 10px 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px black;
  border-radius: 20px;
}

div#blueimp-gallery div.modal {
  overflow: visible;
}


@media (max-width: 768px) {
  .photo-thumb{
    width: 48%;
    height:250px;
    margin: 10px 1%;

  }
}

@media (max-width: 400px) {
  .photo-thumb{
    width: 48%;
    height: 130px;
    margin: 10px 1%;

  }
}