.hero {
  background: url(../img/blackwood.jpg)no-repeat center center ;
  background-size: cover;
  #hero-img {
    width: 45%;
    padding: 11%;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 575px ) {
  .hero{
  #hero-img {
    width: 80%;
    min-height: 200px;
}
}
}