.intro {
  background-color: $lightColor;
  text-align: center;
  .content{
    padding-bottom: 80px;
  h1 {
  }
  p {
    font-size: 1.6em;
    line-height: 1.5em;
  }
  }
}




@media (max-width: 576px) {
  .intro .content {
    padding: 0;
  }
}