@import "variables";
@import "header";
@import "hero";
@import "header";
@import "intro";
@import "gallery";
@import "about";
@import "locations";
@import "contact";
@import "footer";

body, *, p, h1, h2,h3,h4,h5, container-fluid, container, iframe, div {
  margin: 0;
  padding: 0;
  font-family: "Exo";
  box-sizing: border-box;
}

.navbar-color {
  background-color: $offBlack;
}

h3 {
  padding: 20px;
}

p {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 30px;
}



.dark-bg {
  background-color: $lightColor;
}

.bold {
  font-weight: 600;
}

section {
  padding-bottom: 50px;
}
.section-head {
  padding: 80px 0;
}

a:hover {
  text-decoration: none;
}




@media (max-width: 575px) {

  h1 {
    font-size: 1.7em;
  }
  h3 {
    font-size: 1.2em;
  }
  .section-head {
    padding: 60px 0;
  }
  p {
    font-size: .95rem;
  }
  section{
    padding-bottom: 30px;
  }
}
