* {
  font-family: 'Exo', sans-serif; }

.container-fluid {
  padding: 0px !important; }

body {
  background-color: #ddd; }

.header .navbar {
  margin-bottom: 20px; }
  .header .navbar .navbar-brand img {
    height: 40px;
    width: 120px; }
  .header .navbar .nav-info > * {
    color: rgba(255, 255, 255, 0.5); }

.nav-info {
  display: flex;
  align-items: center;
  justify-content: center; }
  .nav-info * {
    margin: 0px 0px 0px 10px;
    font-size: 1.2em;
    cursor: pointer; }
  .nav-info .fa-phone {
    padding-top: 5px;
    margin-right: 0px; }

.navbar-nav {
  margin-left: 9.5%; }

.nav-link {
  margin-left: 30px; }

#hero-img {
  width: 100%; }

.intro {
  background-color: #c8c8c8;
  padding: 50px; }

.index-header {
  text-align: center;
  padding: 60px;
  font-weight: 800; }

.index-intro {
  text-align: center;
  padding: 0px 25%;
  padding-bottom: 80px;
  font-weight: 500; }

.rest {
  background: #c8c8c8;
  width: 100%;
  clear: both;
  min-height: 400px; }

@media only screen and (max-width: 500px) {
  .nav-info {
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav-info * {
      margin: 0px 0px 0px 7px;
      font-size: 0.8em; } }
