.header .navbar .container .navbar-brand {
  margin: 0; }
  .header .navbar .container .navbar-brand img {
    height: 50px;
    width: 120px;
    margin: 0 65px; }

.header .navbar .container li a {
  font-weight: 400;
  color: #efefef; }

.nav-info {
  display: flex;
  align-items: center;
  justify-content: center; }
  .nav-info * {
    padding: 6px;
    color: #efefef; }
  .nav-info .fa-phone {
    margin-right: -8px; }
  .nav-info .fa-facebook {
    margin: -3px -15px 0 0; }

@media (max-width: 991px) {
  .navbar {
    min-height: 74px;
    align-items: center; }
    .navbar button {
      margin-top: 7px; }
    .navbar .navbar-brand {
      transform: translateX(-50%);
      left: 50%;
      position: absolute; }
      .navbar .navbar-brand img {
        margin: 0 !important; }
    .navbar .nav-info {
      display: none; } }

@media (max-width: 575px) {
  #navbarSupportedContent {
    margin-top: 65px;
    text-align: center; } }

.hero img {
  width: 100%;
  padding: 50px 0; }

.header .navbar .container .navbar-brand {
  margin: 0; }
  .header .navbar .container .navbar-brand img {
    height: 50px;
    width: 120px;
    margin: 0 65px; }

.header .navbar .container li a {
  font-weight: 400;
  color: #efefef; }

.nav-info {
  display: flex;
  align-items: center;
  justify-content: center; }
  .nav-info * {
    padding: 6px;
    color: #efefef; }
  .nav-info .fa-phone {
    margin-right: -8px; }
  .nav-info .fa-facebook {
    margin: -3px -15px 0 0; }

@media (max-width: 991px) {
  .navbar {
    min-height: 74px;
    align-items: center; }
    .navbar button {
      margin-top: 7px; }
    .navbar .navbar-brand {
      transform: translateX(-50%);
      left: 50%;
      position: absolute; }
      .navbar .navbar-brand img {
        margin: 0 !important; }
    .navbar .nav-info {
      display: none; } }

@media (max-width: 575px) {
  #navbarSupportedContent {
    margin-top: 65px;
    text-align: center; } }

.intro {
  background-color: #efefef;
  text-align: center; }
  .intro .content {
    padding-bottom: 80px; }
    .intro .content p {
      font-size: 1.6em;
      line-height: 1.5em; }

@media (max-width: 576px) {
  .intro .content {
    padding: 0; } }

.gallery-grid .gallery-row {
  padding-bottom: 30px; }

.galleryPic {
  width: 100%; }

.about {
  text-align: center; }
  .about .content {
    padding-bottom: 50px; }
    .about .content p {
      font-size: 1.6em;
      line-height: 1.5em;
      padding-bottom: 30px; }

.map-container h3 {
  padding-bottom: 20px; }

.map-container iframe {
  padding: 10px;
  height: 350px;
  width: 100%;
  margin-bottom: 100px;
  background-color: #292b2c;
  border: 1px solid #292b2c;
  border-radius: 25px;
  box-shadow: 3px 3px 30px #292b2c; }

.contact-div {
  padding: 50px; }
  .contact-div a {
    color: black; }

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; }
  #footer * {
    padding: 6px;
    color: black;
    font-size: .9rem; }
  #footer .fa-phone {
    margin-right: -8px; }
  #footer .fa-facebook {
    margin: -3px -15px 0 0; }

body, *, p, h1, h2, h3, h4, h5, container-fluid, container, iframe, div {
  margin: 0;
  padding: 0;
  font-family: "Exo";
  box-sizing: border-box; }

.dark-bg {
  background-color: #efefef; }

.bold {
  font-weight: 600; }

.section-head {
  padding: 70px; }

a:hover {
  text-decoration: none; }

@media (max-width: 575px) {
  h1 {
    font-size: 1.7em; }
  h3 {
    font-size: 1.2em; } }
