.header .navbar .container .navbar-brand {
  margin: 0; }
  .header .navbar .container .navbar-brand img {
    height: 50px;
    width: 120px; }

.header .navbar .container li a {
  font-weight: 400;
  color: #efefef; }

.nav-info {
  display: flex;
  align-items: center;
  justify-content: center; }
  .nav-info * {
    padding: 6px;
    color: #efefef; }
  .nav-info .fa-phone {
    margin-right: -8px; }
  .nav-info .fa-facebook {
    margin: -3px -15px 0 0; }

@media (max-width: 991px) {
  .navbar {
    min-height: 74px;
    align-items: center; }
    .navbar button {
      margin-top: 7px; }
    .navbar .navbar-brand {
      transform: translateX(-50%);
      left: 50%;
      position: absolute; }
    .navbar .nav-info {
      display: none; } }

@media (max-width: 575px) {
  #navbarSupportedContent {
    margin-top: 65px;
    text-align: center; } }

.hero img {
  width: 100%;
  padding: 50px 0; }

.header .navbar .container .navbar-brand {
  margin: 0; }
  .header .navbar .container .navbar-brand img {
    height: 50px;
    width: 120px; }

.header .navbar .container li a {
  font-weight: 400;
  color: #efefef; }

.nav-info {
  display: flex;
  align-items: center;
  justify-content: center; }
  .nav-info * {
    padding: 6px;
    color: #efefef; }
  .nav-info .fa-phone {
    margin-right: -8px; }
  .nav-info .fa-facebook {
    margin: -3px -15px 0 0; }

@media (max-width: 991px) {
  .navbar {
    min-height: 74px;
    align-items: center; }
    .navbar button {
      margin-top: 7px; }
    .navbar .navbar-brand {
      transform: translateX(-50%);
      left: 50%;
      position: absolute; }
    .navbar .nav-info {
      display: none; } }

@media (max-width: 575px) {
  #navbarSupportedContent {
    margin-top: 65px;
    text-align: center; } }

.intro {
  background-color: #efefef;
  padding: 50px;
  text-align: center; }
  .intro .content {
    padding: 50px; }
    .intro .content h1 {
      padding-bottom: 60px; }
    .intro .content p {
      font-size: 1.6em;
      line-height: 1.5em; }

@media (max-width: 576px) {
  .intro .content {
    padding: 0; } }

.gallery-grid {
  padding: 100px 0; }
  .gallery-grid .gallery-row {
    padding: 30px; }

.galleryPic {
  width: 100%; }

.about {
  padding: 50px;
  text-align: center; }
  .about .content {
    padding: 50px; }
    .about .content h2 {
      padding-bottom: 60px; }
    .about .content p {
      font-size: 1.6em;
      line-height: 1.5em;
      padding-bottom: 30px; }

.map-container h2 {
  padding: 100px; }

.map-container h3 {
  padding-bottom: 20px; }

.map-container iframe {
  height: 500px;
  width: 100%;
  margin-bottom: 40px; }

body, *, p, h1, h2, h3, h4, h5, container-fluid, container, iframe, div {
  margin: 0;
  padding: 0;
  font-family: "Exo";
  box-sizing: border-box; }

.dark-bg {
  background-color: #efefef; }

a:hover {
  text-decoration: none; }

@media (max-width: 575px) {
  h1 {
    font-size: 1.7em; }
  h3 {
    font-size: 1.2em; } }
